<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paket Thorax</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body {
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: #0198f6;
        }

        .navbar-brand,
        .nav-link {
            color: white !important;
        }

        .btn-primary {
            font-weight: bold;
        }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">Bandung Sehat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"  th:if="${user != null && user.role == 'user'}" >
            <a class="nav-link" th:href="@{/user}"><strong th:text="${user.username}"></strong></a>
          </li>
          <li class="nav-item"  th:if="${user != null && user.role == 'petugas'}" >
            <a class="nav-link" th:href="@{/petugas}"><strong th:text="${user.username}"></strong></a>
          </li>
          <li class="nav-item">
            <!-- Tampilkan tombol Login jika user belum login -->
            <a th:if="${user == null}" class="btn btn-primary nav-link" th:href="@{/login}">Login</a>

            <!-- Tampilkan tombol Log Out jika user sudah login -->
            <a th:if="${user != null}" href="/logout" class="btn btn-danger">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">

    <div th:if="${#lists.isEmpty(paketList)}">
      <div class="alert alert-warning text-center">
        <h4><strong>Paket Tidak Tersedia</strong></h4>
      </div>
    </div>

    <a th:href="@{/}" class="btn btn-secondary mb-3">Kembali</a>
    <div th:unless="${#lists.isEmpty(paketList)}" class="card mb-3" th:each="paket : ${paketList}">

      <div class="card-header bg-primary text-white text-center">
        <h4 th:text="'Paket Pemeriksaan ' + ${paket.nama}"></h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img th:if="${paket.jenis == 'thorax'}" th:src="@{src/th_thorax.png}" alt="Gambar Pemeriksaan Thorax" class="img-fluid rounded mx-auto d-block" style="height: 400px">
            <img th:if="${paket.jenis == 'abdomen'}" th:src="@{src/th_abdomen.png}" alt="Gambar Pemeriksaan Abdomen" class="img-fluid rounded mx-auto d-block" style="height: 400px">
            <img th:if="${paket.jenis == 'diabetes'}" th:src="@{src/th_diabetes.png}" alt="Gambar Pemeriksaan Diabetes" class="img-fluid rounded mx-auto d-block" style="height: 400px">
            <img th:if="${paket.jenis == 'tbc'}" th:src="@{src/th_tbc.png}" alt="Gambar Pemeriksaan TBC" class="img-fluid rounded mx-auto d-block" style="height: 400px">
            <img th:if="${paket.jenis == 'skoliosis'}" th:src="@{src/th_skoliosis.png}" alt="Gambar Pemeriksaan Skoliosis" class="img-fluid rounded mx-auto d-block" style="height: 400px">
          </div>
          <div class="col-md-6">
            <div th:utext="${paket.deskripsi}"></div>
            <h5 class="mt-4" th:text="'Paket Pemeriksaan ' + ${paket.nama}"></h5>
            <h4 class="text-danger mb-3" th:text="'Rp ' + ${#numbers.formatInteger(paket.harga, 1, 'POINT')}"></h4>
            <button th:if="${user == null OR user.isPasien == false}" type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Reservasi Sekarang</button>
            <a th:if="${user != null AND user.isPasien == true}" th:href="@{/pendaftaranmcu}" class="btn btn-success mt-3">Reservasi Sekarang</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Pemberitahuan</h1>
        </div>
        <div class="modal-body">
          <p th:text="${user == null ? 'Anda harus login terlebih dahulu.' : 'Anda harus mendaftar sebagai pasien untuk melanjutkan.'}"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--          <button type="button" class="btn btn-primary">Save changes</button>-->
          <a th:href="@{${user == null ? '/login' : '/pendaftaranpasien'}}" class="btn btn-primary" th:text="${user == null ? 'Login' : 'Daftar Pasien'}"></a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
